Repository stackrox/scanner, pull requests merged in 2024-10, with the labels that each got.

#1657 chore: track cups vulns
  cmd/updater/generatedump/cmd.go
  e2etests/testcase_test.go
  ext/vulnsrc/manual/manual.go
  tools/allowed-large-files
Labels: generate-dumps-on-pr

#1643 ROX-25690: Use versioned offline defs in offline bundles
  scripts/ci/jobs/diff-dumps.sh
Labels: generate-dumps-on-pr

#1668 Add CVE-2024-47850 to manual entries
  e2etests/testcase_test.go
  ext/vulnsrc/manual/manual.go
Labels: generate-dumps-on-pr

#1669 build: Drop clamav-scan resource requests
  .tekton/scanner-build.yaml
  .tekton/scanner-db-build.yaml
  .tekton/scanner-db-slim-build.yaml
  .tekton/scanner-slim-build.yaml
Labels: konflux-build

#1670 chore: update cups vulns yet again
  e2etests/testcase_test.go
  ext/vulnsrc/manual/manual.go
Labels: generate-dumps-on-pr

#1690 ROX-26765: Rename pipelineruns to enable on-push rerunning
  .tekton/scanner-build.yaml
  .tekton/scanner-db-build.yaml
  .tekton/scanner-db-slim-build.yaml
  .tekton/scanner-slim-build.yaml
Labels: backport-for-4.6-konflux-release
